Flask==3.0.3
pymysql==1.1.1
cryptography==43.0.0
WTForms==3.1.2
pandas~=2.1.1
plotly~=5.23.0
werkzeug~=3.0.3
xhtml2pdf~=0.2.16
jupyter~=1.0.0
pip~=24.0
attrs~=23.2.0
Pillow~=10.0.1
tornado~=6.3.3
Jinja2~=3.1.2
setuptools~=65.5.0
packaging~=23.1
pyparsing~=3.1.1
zipp~=3.18.1
build~=1.2.1