<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Raise a Ticket</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/static/index.html" class="logo d-flex align-items-center">
        <img src="/static/img/GG Logo.jpg" alt="">
        <span class="d-none d-lg-block">GreenGrocer</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Image Icon -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-person"></i>
          <span>Customer</span>
        </a>
      </li><!-- End Customer Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cart-plus"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Buttons</span>
            </a>
          </li>

        </ul>
      </li><!-- End Products Nav (Tia to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-workspace"></i><span>Customer Support</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="pages-faq.html">
              <i class="bi bi-circle"></i><span>FAQ</span>
            </a>
          </li>
          <li>
            <a href="create_ticket.html">
              <i class="bi bi-circle"></i><span>Raise a Ticket</span>
            </a>
          </li>
          <li>
            <a href="retrieve_ticket.html">
              <i class="bi bi-circle"></i><span>My Tickets</span>
            </a>
          </li>
          <li>
            <a href="pages-contact.html">
              <i class="bi bi-circle"></i><span>Contact Us</span>
            </a>
          </li>
        </ul>
      </li><!-- End CS Nav (Rachel to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Analytics</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav (WB to add) -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>Tables</span>
            </a>
          </li>

        </ul>
      </li><!-- End Settings Nav (Ash to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#help-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-exclamation-triangle"></i><span>Help</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="help-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Help Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#logout-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-left"></i><span>Log Out</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="logout-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="pages-faq.html">
              <i class="bi bi-circle"></i><span>Logout</span>
            </a>
          </li>
        </ul>
      </li><!-- End Logout Nav -->

    </ul>

  </aside><!-- End Sidebar -->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Raise a Ticket</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Raise a Ticket</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Submit a Ticket</h5>
          <br>

          <!-- Ticket Form -->

          <form class="row g-3" method="POST" action="/">
            <div class="row mb-3">
              <label for="inputNanme4" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNanme4" name="username" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputEmail4" class="col-sm-2 col-form-label">Email Address</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail4" name="email" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputDate4" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputDate4" name="date" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="inputTime4" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-10">
                <input type="time" class="form-control" id="inputTime4" name="time" required>
              </div>
            </div>


            <div class="row mb-3">
              <label for="inputTopic" class="col-sm-2 col-form-label">Topic</label>
              <div class="col-sm-10 position-relative">
                <select class="form-control" id="inputTopic" name="topic" required onchange="toggleOtherField()">
                  <option value="" disabled selected>Select a topic ></option>
                  <option value="Account Login Issue">Account Login Issue</option>
                  <option value="Account Management">Account Management</option>
                  <option value="Account Security">Account Security</option>
                  <option value="Billing Inquiry">Billing Inquiry</option>
                  <option value="Delivery Issue">Delivery Issue</option>
                  <option value="Delivery Status">Delivery Status</option>
                  <option value="Order Inquiry">Order Inquiry</option>
                  <option value="Order Issue">Order Issue</option>
                  <option value="Product Availability">Product Availability</option>
                  <option value="Product Enquiry">Product Enquiry</option>
                  <option value="Refund Request">Refund Request</option>
                  <option value="Refund Status">Refund Status</option>
                  <option value="Technical Status">Technical Status</option>
                  <option value="Subscription Renewal">Subscription Renewal</option>
                  <option value="Customer Support">Customer Support</option>
                </select>
              </div>
            </div>



            <div class="row mb-3">
              <label for="inputDescription" class="col-sm-2 col-form-label">What's the issue?</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="inputDescription" rows="5" name="issue" required></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </form>



          <!-- Ticket Form -->

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/quill/quill.min.js"></script>
  <script src="/static/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/vendor/chart.js/chart.min.js"></script>
  <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/vendor/echarts/echarts.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>