{% extends "base.html" %}
{% block title %} My Order Invoice {% endblock %}
{% block content %}

<h2>Invoice</h2>
<a href="">Print</a>
<a href="">Export</a>
<div class="d-flex justify-content-between">
    <div class="">
        <p>To:
            <br>
            Address:<br>
            Postal Code:  <br>
        </p>
</div>
<div class="">
    Invoice
    ID: <br>
    Issue Date: <br>
    Status: <br>
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

    {% for i in products %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i.item}}</td>
        <td>{{i.qty}}</td>
        <td>{{i.price}}</td>
        <td>{{i.total}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Subtotal</td>
        <td>{{ "%0.2f" | format(subtotal | float) }}</td>
    </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>GST (9%)</td>
        <td>{{ "%0.2f" | format(gst | float) }}</td>
    </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Amount</td>
        <td>{{ "%0.2f" | format(grandtotal | float) }}</td>
    </tr>
    </tbody>
</table>
 <br>
 <br>


{% endblock %}