{% extends "base.html" %}
{% block title %} My Nutrition Summary {% endblock %} 
{% block content %} 
<h1>My Reports Summary</h1>

<div>
    <table class="table table=striped">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Report Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reports %}
            <tr>
                <td>{{r.start_date}}</td>
                <td>{{r.end_date}}</td>
                <td>{{r.report_type}}</td>
                <td>
                    <form action="{{ url_for('retrieve_report') }}" method="post">
                        <input type="hidden" name="report_id" value="{{ r.reportid }}">
                    <button type="submit">View Report</button>
                </form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}