@font-face {
    font-family: Normal;
    src: url(Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Light;
    src: url(Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: h1;
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: h3;
    src: url(Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: h4;
    src: url(Poppins/Poppins-Medium.ttf);
}

*{
    font-family: normal;
    font-size: 16px; 
}

.navbar h1{
    font-family: h1;
    font-size: 32px;
}

.navbar{
    font-family: light; 
}

.top{
    display: flex; 
}

a.nav-link{
    color: black;
    padding: 6px 12px;
}

.nav-img{
    display: flex;
}

.plus{
    font-family: h3;
}

.nav-btn{
    padding-left: 0;
}

.active{
    background-color: rgba(27, 109, 0, 0.142);
}

.shit{
    display: flex;
}

.leffot{
    margin-right: 10px;
}
