  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-person"></i>
          <span>Customer</span>
        </a>
      </li><!-- End Customer Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cart-plus"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Buttons</span>
            </a>
          </li>

        </ul>
      </li><!-- End Procuts Nav (Tia to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-workspace"></i><span>Customer Support</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Form Elements</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Form Layouts</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Form Editors</span>
            </a>
          </li>
        </ul>
      </li><!-- End CS Nav (Rachel to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Analytics</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/nutrition">
              <i class="bi bi-circle"></i><span>View My Nutrition</span>
            </a>
          </li>
          <li>
            <a href="/generate_report">
              <i class="bi bi-circle"></i><span>Create Report</span>
            </a>
          </li>
          <li>
            <a href="/view_reports">
              <i class="bi bi-circle"></i><span>View My Saved Reports</span>
            </a>
          </li>
          <li>
            <a href="/view_invoices">
              <i class="bi bi-circle"></i><span>View My Invoices</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav (WB to add) -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>Tables</span>
            </a>
          </li>

        </ul>
      </li><!-- End Settings Nav (Ash to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#help-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-exclamation-triangle"></i><span>Help</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="help-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Help Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#logout-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-left"></i><span>Log Out</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="logout-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>Log out?</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav (Ash to add) -->

    </ul>

  </aside><!-- End Sidebar-->
