<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greengrocer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnH2N2b9jFVz6l7q1nt3/fDpE0iix1upMyEuK5W1n6VEK7pO1L5evZBjfOBU8IGdrAxiv1LZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="text-center py-3">
        <h1 class="logo">Greengrocer</h1>
        <nav class="nav-icons">
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2838/2838912.png" alt="Products" class="nav-icon"> Products</a>
            <a href="https://www.flaticon.com/free-icon/support_1067566?term=support&page=1&position=2&origin=search&related_id=1067566" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1067/1067566.png" alt="Customer Support" class="nav-icon"> Customer Support</a>
            <a href="https://www.flaticon.com/free-icon/diagram_2285559?term=graph&page=1&position=3&origin=search&related_id=2285559" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/2285/2285559.png" alt="Analytics" class="nav-icon"> Analytics</a>
            <a href="https://www.flaticon.com/free-icon/settings_503849?term=settings&page=1&position=6&origin=search&related_id=503849" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/503/503849.png" alt="Settings" class="nav-icon"> Settings</a>
            <a href="https://www.flaticon.com/free-icon/question_471664?term=help&page=1&position=1&origin=search&related_id=471664" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/471/471664.png" alt="Help" class="nav-icon"> Help</a>
            <a href="https://www.flaticon.com/free-icon/logout_3889524?term=logout&page=1&position=2&origin=search&related_id=3889524" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3889/3889524.png" alt="Log Out" class="nav-icon"> Log Out</a>
        </nav>
        <div class="search-bar">
            <input type="text" class="form-control" placeholder="Search for your favorite produce">
        </div>
    </header>

    <section class="main-content text-center">
        <h2 class="banner-text">Fresh groceries!</h2>
        <img src="../static/images/image1.jpg" alt="Food Banner" class="banner-image">
    
        <div class="image-row">
          <img src="../static/images/image1.jpg" alt="Dish 1" class="square-image">
          <!-- <p class="image-text">Dish 1 Text</p> -->
          <img src="../static/images/image2.jpg" alt="Dish 2" class="square-image">
          <!-- <p class="image-text">Dish 2 Text</p> -->
          <img src="../static/images/image3.jpg" alt="Dish 3" class="square-image">
          <!-- <p class="image-text">Dish 3 Text</p> -->
          <img src="../static/images/image4.jpg" alt="Dish 4" class="square-image">
          <!-- <p class="image-text">Dish 4 Text</p> -->
          <img src="../static/images/image5.jpg" alt="Dish 5" class="square-image">
          <!-- <p class="image-text">Dish 5 Text</p> -->
        </div>
      </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
