  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-person"></i>
          <span>Staff</span>
        </a>
      </li><!-- End Customer Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage-customer-accounts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Manage Customer Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage-customer-accounts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/createCustomers">
              <i class="bi bi-circle"></i><span>Create Customer</span>
            </a>
          </li>
          <li>
            <a href="/retrieveCustomers">
              <i class="bi bi-circle"></i><span>View Customers</span>
            </a>
          </li>
        </ul>
      </li><!-- End Manage Customer Accounts Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cart-plus"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_products">
              <i class="bi bi-circle"></i><span>View All Products</span>
            </a>
          </li>
          <li>
            <a href="/admin_add_product">
              <i class="bi bi-circle"></i><span>Add Product</span>
            </a>
          </li>
          <li>
            <a href="/admin_add_product">
              <i class="bi bi-circle"></i><span>Add Product</span>
            </a>
          </li>


        </ul>
      </li><!-- End Procuts Nav (Tia to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-workspace"></i><span>Customer Support</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/staff_assignees">
              <i class="bi bi-circle"></i><span>View Staff Assignees</span>
            </a>
          </li>
          <li>
            <a href="/add_assignee">
              <i class="bi bi-circle"></i><span>Add Assignee</span>
            </a>
          </li>
          <li>
            <a href="/staff_mytickets">
              <i class="bi bi-circle"></i><span>My Tickets</span>
            </a>
          </li>
        </ul>
      </li><!-- End CS Nav (Rachel to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Analytics</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/staff_generate_report">
              <i class="bi bi-circle"></i><span>Create Report</span>
            </a>
          </li>
          <li>
            <a href="/staff_view_reports">
              <i class="bi bi-circle"></i><span>View My Saved Reports</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav (WB to add) -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/profile">
              <i class="bi bi-circle"></i><span>Profile</span>
            </a>
          </li>

        </ul>
      </li><!-- End Settings Nav (Ash to add)-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#help-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-exclamation-triangle"></i><span>Help</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="help-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Help Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Log Out Nav -->

    </ul>

  </aside><!-- End Sidebar-->
