<nav class="navbar bg-white">
  <div class="container-fluid">
      <div class="top"  style="width:100%;">
        <img src="../static/images/logo.jpg" alt="Logo" class="mr-1" style="width: 40px; height: 40px">
        <h1>GreenGrocer</h1>
    </div>
      <div class="nav-img shadow-sm mb-2 p-2 bg-white" style="width:100%;">
          <img src="../static/images/001-user.png" style="width: 30px; height: 30px; margin-right:10px;">
          <h4>Staff</h4>
      </div>
      <ul class="navbar-nav" style="width:100%;">
        <li class="nav-item shadow-sm p-2 mb-2 active">
          <div class="nav-img">
              <img src="../static/images/002-shopping-bag.png" style="width: 30px; height: 30px; margin-right:10px;">
              <a class="nav-link" href="#">Products</a>
          </div>
        </li>
        
        <li class="nav-item shadow-sm p-2 mb-2 bg-white" data-bs-toggle="collapse" data-bs-target="#custsupport">
          <div class="nav-img d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                  <img src="../static/images/003-support.png" style="width: 30px; height: 30px; margin-right:10px;">
                  <p class="mb-0">Customer Support</p>
              </div>
              <p class="mb-0 plus">+</p>
          </div>
          <div id="custsupport" class="collapse">
              <a href="#" class="nav-link">Tickets</a>
              <a href="#" class="nav-link">Inventory Levels</a>
          </div>
        </li>

        <li class="nav-item shadow-sm p-2 mb-2 bg-white" data-bs-toggle="collapse" data-bs-target="#analytics">
          <div class="nav-img d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                  <img src="../static/images/004-diagram.png" style="width: 30px; height: 30px; margin-right:10px;">
                  <p class="mb-0">Analytics</p>
              </div>
              <p class="mb-0 plus">+</p>
          </div>
          <div id="analytics" class="collapse">
              <a href="#" class="nav-link">Report Builder</a>
              <a href="#" class="nav-link">Saved Reports</a>
          </div>
      </li>
      
        <li class="nav-item shadow-sm p-2 mb-2 bg-white">
          <div class="nav-img">
              <img src="../static/images/005-question.png" style="width: 30px; height: 30px; margin-right:10px;">
              <a href="#" class="nav-link">Help</a>
          </div>
        </li>
        <li class="nav-item shadow-sm p-2 mb-2 bg-white">
          <div class="nav-img">
              <img src="../static/images/007-settings.png" style="width: 30px; height: 30px; margin-right:10px;">
              <a href="#" class="nav-link">Settings</a>
          </div>
        </li>

        <li class="nav-item shadow-sm p-2 mb-2 bg-white">
          <div class="nav-img">
              <img src="../static/images/006-logout.png" style="width: 30px; height: 30px; margin-right:10px;">
              <a href="#" class="nav-link">Logout</a>
          </div>
        </li>
      </ul>
      <hr>
      <hr>
      <!--Insert Image-->
      <div class="shit align-bottom position-fixed bottom-0">
        <div class="diver leffot">
          <img src="../static/images/woman.jpeg" alt="" class="img-thumbnail" style="height: 60px; width: 60px;">
        </div>
        <div class="diver">
          <h5 style="width:100%">May</h5>
          <p>may_tan@gmail.com</p>
        </div>
      </div>
      
  </div>
</nav>
