<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Thank You</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Modal -->
  <div class="modal fade" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="thankYouModalLabel">Form Successfully Submitted!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Thank you for submitting the ticket. We appreciate the concern and will get back to you shortly. Meanwhile,
          you can view all your tickets by going to <a href="{{ url_for('view_tickets') }}">My Tickets</a>.
        </div>
        <div class="modal-footer">
          <a href="{{ url_for('view_tickets') }}" class="btn btn-primary">Go to My Tickets</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Initialize the modal -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var myModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
      myModal.show();
    });
  </script>

</body>

</html>